
// PRIMARY COLORS BUTTONS

$primary-color: rgb(47, 115, 241);
$secondary-color: rgb(84, 170, 219);
$tertiary-color: rgb(112, 82, 247);
$success-color: rgb(36, 189, 69);
$danger-color: rgb(224, 59, 59);
$warnig-color: rgb(240, 230, 96);
$dark-color: rgb(36, 189, 69);
$light-color: rgb(235, 235, 235);

// MAIN COLORS
$main-color-100:#0a91be;
$main-color-200:#0CB7F2;
$main-color-300:#53d4ff;
$main-color-400:#8fe3ff;
$main-color-500:#bceeff;
$main-color-600:#def7ff;