<nav class="sidebar-box">
    <div class="sidebar h-100 d-flex flex-column ">
        <div class="logo w-100 text-center my-3">
            <i class="fab fa-stumbleupon"></i>
        </div>
        <p class="text-menu">MENÚ</p>
        <ul>
            <a [routerLink]="['/home']"><li><i class="fas fa-home"></i> Inicio</li></a>
            <a [routerLink]="['/facturacion']"><li><i class="fas fa-table"></i> Facturación</li></a>
            <a [routerLink]="['/cliente']"><li><i class="fas fa-user"></i> Clientes</li></a>
            <a [routerLink]="['/proveedores']"><li><i class="fas fa-archive"></i> Proveedores</li></a>
            <li><i class="fas fa-store-alt"></i> Sucursales</li>
        </ul>
    </div>
</nav>
